/* Boiler Plate */
html, body{
  font-family: "Open Sans", helvetica, serif;
}

#wrapper{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9999;
}

/* Saw Logo */
#logo{
  position: absolute;
  top: -50px;
  width: 213px;
  height: 213px;
  margin-left: auto;
  margin-right: auto;
}

#saw{
  position: relative;
  max-width: 213px;
  z-index: 10;
  -webkit-animation: spin 5s 1 linear;
  -moz-animation: spin 5s 1 linear;
}

@-webkit-keyframes spin{
  0% {-webkit-transform: rotat(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin{
  0% {-moz-transform: rotat(0deg);}
  100% {-moz-transform: rotate(360deg);}
}

#allTextOnly{
  position: relative;
  top: -160px;
  left: 44px;
  max-width: 130px;
  z-index:11;
}

#ninjaOnly{
  position: fixed;
  top: 7px;
  width: 20%;
  margin-left: -10%;
  left: 50%;
  z-index: 8;
}

#ninjaOnly img{
  cursor: pointer;
}


/* Header Menu */
#fakeHeader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #DDD;
  opacity: 0;
  overflow: hidden;
  z-index: 6;
}

#header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  overflow: hidden;
  z-index: 6;
}

#header ul#leftList{
  position: relative;
  list-style: none;
  float: left;
  left: 5%;
  margin:0;
  margin-top: 20px;
  padding:0;
}

#header ul#rightList{
  position: relative;
  list-style: none;
  float: right;
  right: 5%;
  margin:0;
  margin-top: 20px;
  padding:0;
}


#header ul li{
 float: left;
 display: block;
 margin-right: 30px;
 font-size: 1.5em;
 cursor: pointer;
}

/* Top Image */

#topImage{
  position: relative;
  float: left;
  background-image: url(../img/topImage2.jpg);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  background-color: #BBB;
  z-index: 5;
}

#aboutSection{
  /*position: relative;*/
  float: left;
  width: 100%;
  left: 0;
  background-color: #CCC;
  z-index: 5;
}

#ourWorkSection{
  float: left;
  width: 100%;
  left: 0;
  background-color: #FFF;
  z-index: 5;
}

#newsSection{
  float: left;
  width: 100%;
  left: 0;
  background-color: #444;
  z-index: 5;
}

#contactSection{
  float: left;
  width: 100%;
  left: 0;
  background-color: #AAA;
  z-index: 5; 
}

/*About Section*/
#aboutSection{
}

#jakeAbout{
  float: left;
  margin-left: 20%;
  /*border: thin solid black;*/
  width: 25%;
}

#nickAbout{
  float: right;
  margin-right: 20%;
  /*border: thin solid black;*/
  width: 25%;
}

#jakeAboutPicture{
  width: 272px;
  margin-left: auto;
  margin-right: auto;
  height: 328px;
  border-radius: 10px;
  background-image: url('../img/jakePhoto.png');
  background-repeat: no-repeat;
  background-position: top left;
}

#nickAboutPicture{
  width: 272px;
  margin-left: auto;
  margin-right: auto;
  height: 328px;
  border-radius: 10px;
  background-image: url('../img/jakePhoto.png');
  background-repeat: no-repeat;
  background-position: top left;
}

#jakeAboutPicture:hover, #nickAboutPicture:hover{ 
  background-position: bottom left; 
}

#aboutText{
  float: left;
  margin-left: 20%;
  margin-right: 20%;
  font-weight: bold;
}

/* Our Work Section */
#workSection{
  
}


#workSlideShow{
  width: 80%;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.ourWorkText{
  margin-left: 15%;
  margin-right: 15%;
  font-weight: bold;
}

/* Contact Us Form */
#contactForm{
  position: relative;
  margin-left: 15%;
  margin-top: 70px;
}

#leftForm{
  float: left;
}

#rightForm{
  float: left;
  margin-left: 20px;
  
}

#bottomForm{
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}

#contactForm label{
  font-size: 1.1em;
}

#contactForm input[type='text']{
  font-size: 2em;
}

#contactForm input[type='file'], #contactForm input[type='submit']{
  font-size: 1.2em;
}

#contactForm textarea{
  font-size: 1.2em;
  height: 182px;
  width: 300px;
}

#contactText{
  float: left;
  margin-top: 30px;
  margin-left:20%;
  margin-right:20%;
  font-weight: bold;
}

#jakeJoke{
  position: fixed;
  background-image: url('../img/ponch.jpg');
  width: 400px;
  height: 573px;
  top: 20px;
  left: 20px;
  z-index: 12345;
}

#jakeJoke2{
  position: fixed;
  background-image: url('../img/ponch.jpg');
  width: 400px;
  height: 573px;
  top: 20px;
  left: 700px;
  z-index: 12346;
}

#jakeJoke3{
  position: fixed;
  background-image: url('../img/ponch.jpg');
  width: 400px;
  height: 573px;
  top: 20px;
  left: 350px;
  z-index: 12347;
}


/*************/
/*Mobile CSS*/
/*768px and above will be desktop all else will be mobile*/

/* Mobile ----------- 
@media (max-width : 768px) {
  #saw{
    width: 100px;
    height: 100px;
  }
}
*/
