/* Style sheet for slideshow */

#sliderWrapper{
  width: 100%;
  height: 500px;
}

#currentPhoto{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -100;
}

#nextPhoto{
  width: 100%;
  z-index: -101;
  opacity: 0;
}

#tmpPhoto{
  display: none;
}
